/AJ_lab/THIENLHSE61374_SE0865_AJ_lab05/nbproject/private/
/AJ_lab/THIENLHSE61374_SE0865_AJ_lab05/dist/
/AJ_lab/THIENLHSE61374_SE0865_AJ_lab05/build/
/JSPTag_day8/nbproject/private/
/JSPTag_day8/build/
/JSPTag_day8/dist/