/AJ_lab/THIENLHSE61374_SE0865_AJ_lab05/nbproject/private/
/AJ_lab/THIENLHSE61374_SE0865_AJ_lab05/dist/
/AJ_lab/THIENLHSE61374_SE0865_AJ_lab05/build/
/JSPTag_day8/nbproject/private/
/JSPTag_day8/build/
/JSPTag_day8/dist/
/Home/Day8CoreTagLibraryTest/nbproject/private/
/Home/Day8CoreTagLibraryTest/build/
/Home/Day8CoreTagLibraryTest/dist/
/Home/Day8FunctionTagLibraryTest/nbproject/private/
/Home/Day8FunctionTagLibraryTest/build/
/Home/Day8FunctionTagLibraryTest/dist/
/AJ_lab/THIENLHSE61374_SE0865_AJ_lab07/nbproject/private/
/Day8J2EE/nbproject/private/
/Day8J2EE/Day8J2EE-war/nbproject/private/
/Day8J2EE/Day8J2EE-ejb/nbproject/private/
/Day8J2EE/Day8J2EE-ejb/build/
/Day8J2EE/Day8J2EE-ejb/dist/
/Day8J2EE/Day8J2EE-war/build/
/Day8J2EE/build/
/Day8J2EE/dist/
/Day8J2EE/Day8J2EE-war/dist/
/Day9_whatever/nbproject/private/
/AJ_lab/Day9_EJB3/nbproject/private/
/AJ_lab/Day9_EJB3/Day9_EJB3-war/nbproject/private/
/AJ_lab/Day9_EJB3/Day9_EJB3-ejb/nbproject/private/
/THIENLHSE61374_SE0865_AJ_ass1/nbproject/private/
/THIENLHSE61374_SE0865_AJ_ass1/build/
/THIENLHSE61374_SE0865_AJ_ass1/dist/